<div class="recordSection">
  <%= image_tag record.image.variant(resize: '500x600'), class: 'recordImage' if record.image.attached? %>
  <div class="recordInfo">
    <div class="infoHead">
      <p class="recordTitle"><%= record.text %></p>
      <p class="recordArea">撮影場所：<%= record.area.name %></p>
    </div>
    <ul class="moreList">
      <li>
        <%= link_to '詳細', record_path(record.id) %>
      </li>
      <% if user_signed_in? && current_user.id == record.user_id %>
      <li>
        <%= link_to '編集', edit_record_path(record.id) %>
      </li>
      <li class="last">
        <%= link_to '削除', record_path(record.id), method: :delete %>
      </li>
      <% end %>
    </ul>
  </div>
  <span class="recordUserName">
  <a href="/users/<%= record.user.id %>">
      <span>投稿者</span><%= record.user.nickname %>
  </a>
  </span>
</div>
