<div class="contents row">
  <% if user_signed_in? && current_user.id == @record.user_id %>
  <div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '編集', edit_record_path(@record.id) %>
      </li>
      <li>
        <%= link_to '削除', record_path(@record.id), method: :delete %>
      </li>
    </ul>
  </div>
  <% end %>
      <p><%= @record.text %></p>
      <span class="areaName">
        <%= @record.area.name %>
      </span>
      <%= image_tag @record.image.variant(resize: '500x500'), class: 'recordImage' if @record.image.attached? %>
</div>