<div class="showArea">
  <div class="recordSection">
    <%= image_tag @record.image.variant(resize: '500x500'), class: 'recordImage' if @record.image.attached? %>
    <% if user_signed_in? && current_user.id == @record.user_id %>
    <div class="recordInfo">
      <div class="infoHead">
        <p class="recordTitle"><%= @record.text %></p>
        <p class="recordArea">撮影場所：<%= @record.area.name %></p>
      </div>
      <ul class="moreList">
        <li>
          <%= link_to '編集', edit_record_path(@record.id) %>
        </li>
        <li>
          <%= link_to '削除', record_path(@record.id), method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <span class="recordUserName">
    <a href="/users/<%= @record.user.id %>">
      <span>投稿者</span><%= @record.user.nickname %>
    </a>
    </span>
    
    <div class="commentArea">
      <% if user_signed_in? %>
        <%= form_with(model: [@record, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND", class: "show-send-btn" %>
        <% end %>
      <% end %>
      <div class="comments">
      <%# ＜コメント一覧＞はテストコードに記述しているので変更する場合はテストコードも記述変更必要 %>
        <h4>▼コメント一覧</h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}", class:"commentUsername" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>