<div class='chatRoomSelect'>
  <div class='chatLine'>
  <h1 class='chatNewRoom'>Chat Room を作成する</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chatRoomField'>
      <div class='chatRoomField-left'>
        <%= f.label :チャットルーム名, class: 'chatRoomLabel'%>
      </div>
      <div class='chatRoomField-right'>
        <%= f.text_field :name, class: 'chatRoomName', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chatRoomField'>
    </div>
    <div class='chatRoomField'>
      <div class='chatRoomField-left'>
        <label class='chatRoomLabel' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chatRoomField-right'>
      <select name="room[user_ids][]" class="nameSelect">
        <option value="">チャットするユーザーを選択してください</option>
        <% User.where.not(id: current_user.id).each do |user| %>
          <option value=<%=user.id%>><%= user.nickname %></option>
        <% end %>
      </select>
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>
    <div class='chatRoomField'>
      <div class='chatRoomField-left'></div>
      <div class='chatRoomField-right'>
        <%= f.submit class: 'chatRoomActionBtn'%>
      </div>
    </div>
  <% end %>
  </div>
</div>
