<!DOCTYPE html>
<html>
  <head>
    <title>Okinawa Travel Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header class="header">
      <div class="headLeft">
        <h1 class="headTitle">
          <a href="/">Okinawa Travel Notes</a>
        </h1>
      </div>
      <div class="headRight">
        <div class="userInfos">
          <%= link_to "Postする", new_record_path, class: "userInfoItem" %>
          <%= link_to "Chatする", rooms_path, class: "userInfoItem" %>
          <%= link_to "My Page", "/users/#{current_user.id}", class: "userInfoItem" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "userInfoItem" %>
        </div>
      </div>
    </header>
    <% end %>
    <%= yield %>
    <footer>
      <p>
        Copyright Okinawa Travel Notes 2021.
      </p>
    </footer>
  </body>
</html>